.order-detail {
  display: flex;
  column-gap: 20px;
  justify-content: center;
  .detail-list{ 
    width: 900px;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    border-radius: 6px;
    .order-detail-item{
      height: 100px;
      align-items: center;
      display: flex;
      flex-direction: row;
      .product-img {
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
          height: 90px;
      }
      & > * {
        padding-left: 10px;
        padding-right: 10px;
      }
    }
  }
  .total-order {
    border-radius: 6px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, .16);
    width: 400px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    background-color: #fff;
    padding: 20px;
    
    
    .date-row {
      display: flex;
      flex-direction: row;
      column-gap: 20px;
      .date-input {
        width: calc(50% - 10px);
      }
    }
    .amount-row{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    .user-name{
      width: 50%;
    }
    .phone {
      width: 50%;
    }
    .description {
        font-size: 18px;

      .row-input{
        height: 200px;
        padding-top: 12px;
        padding-bottom: 12px;
      }
    }
    .flex-row > * {
      flex: 1;
      font-size: 16px;
    } 
  }
}