button {
    white-space: nowrap;
    cursor: pointer;
}
.btn-header {
    height: 24px;
    width: 24px;
    .btn-close {
        font-size: 24px;
    }
}
.btn-table {
    
    background-color: transparent;
    border: none;
    
}
.btn-small {
    height: 20px;
    width: 20px;
    border: none;
    text-align: center;
    align-items: center;
    padding: 0;
    margin: 5px;
    background-color: transparent;
    cursor: pointer;
    font-size: 11px;
}
.btn-small.selectedPage {
    background-color: #f5f5f5;
}
.btn-mini {
    height: 5px;
    width: 7px;
    border: none;
}
.btn-tool {
    background-color: #ffffff;
    border-radius: 3px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .16);
    min-width: 36px;
    height: 36px;
    /* overflow: hidden; */
    align-items: center;
    /* padding: 12px; */
    border: hidden;
    
}
.btn-add {
    background-color: #1aa4c8;
    color: #fff;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 11px;
    padding-bottom: 10px;
}
.btn-menu {
    margin-top: 8px;
    width: auto;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    border: none;
    align-items: center;
    text-align: center;
    color: grey;
}
.btn-menu.selected {
    color: #000;
}
.btn-menu-name {
    overflow: hidden;
    text-align: center;
    font-family: "Roboto",sans-serif;
    font-size: 16px;
    font-weight: 700;
}
.btn-menu-selection {
    position: relative;
    opacity: .5;
    border: none;
    width: calc(100% - 22px);
    height: 40px;
    padding-left: 46px;
    margin-left: 11px;
    margin-right: 11px;
    text-align: left;
    color: #fff;
    border-radius: 0;
    background-color: rgba(187, 187, 187, 0.435);
}

.btn-menu-selection:hover {
    opacity: 1;
    background-color: #48586c;
    border-radius: 4px;
}

.btn-menu-selection .icon {
    display: none;
}

.btn-menu-selection:hover .icon {
    display: block;
}

.btn-icon {
    background-color: transparent;
    border: none;
    height: 24px;
    width: 24px;
    align-items: center;
    padding: 0;
}
.btn-icon:hover {
    background-color: rgb(187, 187, 187, 0.2);
}
.btn-icon-table {
    background-color: transparent;
    border: none;
    height: 24px;
    width: 24px;
    align-items: center;
    padding: 0;
    border-radius: 50%;
}
.btn-icon-table:hover {
    background-color: #fff;
}

.btn-img {
    background-color: transparent;
    border: none;
    background-repeat: no-repeat;
    background-size:contain;
    &.icon24 {
        height: 24px;
        width: 24px;
    }
}

.btn1 {
    background-color: #fff;
    border: 1px solid #bbb;
}
.btn2 {
    border:1px solid red;
    color: red;
    background-color: #fff;

}
.btn3 {
    background-color: #1aa4c8;
    color: #fff;
    border: none;
}

.btn-left-menu {
  height: 40px;
  background: none;
  border: none;
  width: 100%;
  text-align: left;
  padding-left: 10px;
  .btn-left-menu-name{
    color: #ffffff;
  }
  &.selected {
    background-color: #1aa4c8;
    border-radius: 6px;
  }
}