.icon {
    background-image: url(../../assets/icon/multi-icon.png);
    height: 24px;
    width: 24px;
    border:none;
    background-color: transparent;
    background-repeat: no-repeat;
    margin: auto;
    
}
.icon-avartar {
    background-position: -20px -20px;
}
.icon-bell {
    background-position: -328px -108px;
}
.icon-window {
    background-position: -196px -20px;
}
.icon-question {
    background-position: -64px -64px;
}
.icon-mini-up {
    height: 5px;
    width: 8px;
    background-position: -28px -338px;
}
.icon-mini-down {
    background-position: -72px -338px;
	width: 8px;
	height: 5px;
}
.icon-mini-updown {
    background-position:-204px -332px;
	width: 8px;
	height: 16px;
}
.icon-screen {
    background-position: -21px -153px;
}
.icon-car {
    background-position: -65px -153px;
}
.icon-road {
    background-position: -110px -153px;
}
.icon-tool {
    background-position: -153px -153px;
}
.icon-document {
    background-position: -197px -153px;
}
.icon-search {
    background-position: -241px -153px;
}
.icon-search-input {
    background-position: -243px -23px;
    width: 18px;
	height: 18px;
}
.icon-setting {
    background-position: -286px -153px;
}
.icon-report {
    background-position: -329px -153px;
}
.icon-pen {
    background-position:   -156px -68px;
	width: 16px;
	height: 16px;
}
.icon-copy {
    background-position:  -244px -112px;
	width: 16px;
	height: 16px;
}
.icon-close {
    background-position:  -375px -287px;
	width: 18px;
	height: 18px;
    background-color: transparent;
}
.icon-trash {
    background-position:  -463px -111px;
	width: 18px;
	height: 18px;
}
.icon-exel {
    background-position: -287px -111px;
    width: 18px;
	height: 17px;
}
.icon-prev {
    background-position: -29px -246px;
    width: 7px;
	height: 12px;
}
.icon-prev-white {
    background-position:-29px -290px;
    width: 7px;
	height: 12px;
}
.icon-next {
    background-position: -73px -246px;;
    width: 7px;
	height: 12px;

}
.icon-select {
    background-position: -243px -68px;
	width: 24px;
	height: 16px;
}
.icon-down {
    background-position: -158px -293px;
	width: 11px;
	height: 7px;
}
.icon-down-black {
    background-position: -158px -249px;
	width: 11px;
	height: 7px;
}
.icon-box {
    background-position: -113px -377px;
	width: 14px;
	height: 14px;
}
.icon-box-checked {
    background-position: -157px -377px;
	width: 14px;
	height: 14px;
}
.icon-calendar {
    background-position: -287px -67px;
	width: 18px;
	height: 18px;
}
.icon-popup {
    background-position: -416px -66px;
	width: 24px;
	height: 20px;
    scale: 2;
}
.icon-add {
    background-position: -375px -419px;
	width: 18px;
	height: 18px;
    
}
.icon-trash-black {
    background-position: -419px -111px;
	width: 18px;
	height: 18px;
}
.icon-toast-message {
    background-position: -111px -594px;
	width: 18px;
	height: 20px;
}
.icon-toast-message-error {
    background-position:  -67px -594px;
	width: 18px;
	height: 20px;
}
.icon-eye {
    background-position: -66px -375px;
	width: 21px;
	height: 17px;
}
.icon-eye2 {
    background-position: -22px -378px;
	width: 20px;
	height: 13px;
}
.icon-voucher-view {
    background-position: -110px -420px;
	width: 20px;
	height: 15px;
}
.icon-voucher-view2 {
    background-position: -22px -421px;
	width: 20px;
	height: 14px;
}
.icon-arrow {
    background-position: -375px -246px;
	width: 18px;
	height: 12px;
}

.icon-plus {
    background-position: -375px -419px;
	width: 18px;
	height: 18px;
}
.icon-minus {
    background-position:  -375px -463px;
	width: 18px;
	height: 18px;
}
.icon-zoom-in {
    background-position:  -245px -333px;
	width: 14px;
	height: 14px;
}
.icon-zoom-out {
    background-position: -289px -333px;
	width: 14px;
	height: 14px;
}
.icon-print {
    background-position: -331px -67px;
	width: 18px;
	height: 18px;
}
.icon-dot-column {
    background-position: -383px -26px;
	width: 3px;
	height: 13px;
}