
.login-form {
    margin:auto;
    margin-top: 10vh;
    width: 500px;
    opacity: 1;
    border-radius: 8px;
    align-items: center;
    padding: 20px;
    background-color: #fff;
}
.user-info{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
}
.login-form-left {
    height: 100%;
    width: 50%;
    text-align: center;
    display:flex;
    font-weight: 700;
    font-size: 40px;
}
.login-form-right {
    height: 100%;
    width: 0%;
}
.login-list-input {
    margin: 40px;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    .form-title {
        font-size: 40px;
        align-items: center;
        text-align: center;
    }
    .login-title {
        font-size: 15px;
        text-align: left;
        font-family: 'Roboto', sans-serif;
        margin-bottom: 3px;
        margin-top: 10px;
    }
    .register{
        display: flex;
        justify-content: center;
    }
    .logout {
        display: flex;
        justify-content: center;
        margin-top: 8px;
        .btn-logout{
        text-align: center;
        font-weight: 600;
        background-color: transparent;
        border: none;
        font-size: 16px;
        width: 100px;
        }
    }
}
.login-logo {
    width: 100px;
    background-position-y: 0;
    height: 60px;
    margin: 0 auto;
}
.login-input {
    width: calc(100% - 40px);
    height: 44px;
    border: 1px solid #dadce0;
    outline: none;
    border-radius: 4px;
    font-size: 13px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 20px;
}
.login-input:focus {
    border: 1px solid #39c0ed;
}
.login-input::placeholder {
    color: #abadb1;
    font-size: 14px;
    font-style: normal;
}

.login-button {
    margin-top: 20px;
    width: 100%;
    height: 44px;
    border-radius: 4px;
    font-size: 16px !important;
    outline: none;
    border: none;
    background-color: rgb(100, 100, 100);
    color: #fff;
    cursor: pointer;
}
.error {
    border: 1px solid red;
}
.password-icon {
    cursor: pointer;
    position:absolute;
    right: 10px;
    bottom: 15px;
}

.list-order {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    min-width: 1000px;
    .form-title {
        font-size: 40px;
        align-items: center;
        text-align: center;
    }
    table {
        th {
            width: 20%;
        }
    }

}
.qrcode {
    width: 100px;
    height: 100px;
    margin: auto;
    .img {
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }
}