.manage-product {
	.list-header {
		font-size: 18px;
		font-weight: 700;
	}
	.category-product {
		display: flex;
		flex-direction: row;
		column-gap: 15px;
		.category-table {
			width: 230px;
			display: flex;
			flex-direction: column;
			row-gap: 15px;
			.group-category-type {
				background-color: white;
			}
		}
	}
}