.product-view{
    .title-header {
        font-weight: 700;
    }
        .form-center{
            display: flex;
            flex-direction: row;
            justify-content: center;
            column-gap: 20px;
            background-color: #fff;
            margin: auto;
            width: 1300px;
            .img-upload{
                padding: 20px;
                width: 600px;
                display: flex;
                flex-direction: column;
                background-color: #fff;
                .big-img{
                    height: 600px;
                    background-repeat: no-repeat;
                    background-size:contain;
                    background-position: center;
                    border-radius: 6px;
                    position: relative;
                    .btn-delete {
                        height: 30px;
                        width: 80px;
                        position: absolute;
                        bottom: 5px;
                        right: 5px;
                        background-repeat: no-repeat;
                        background-size:contain;
                        background-position: center;
                        background-color: transparent;
                        border: none;
                    }
                }
                .list-small-img {
                    margin-top: 8px;
                    height: 100px;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    column-gap: 20px;
                    row-gap: 10px;
                    overflow: auto;
                    &::-webkit-scrollbar-track
                    {
                        background-color: #F5F5F5;
                    }
                    &::-webkit-scrollbar {
                        width: 10px;
                        background-color: #F5F5F5;
                    }
                    &::-webkit-scrollbar-thumb
                    {
                        background-color: #cdd3d6;
                    }
                    .small-img {
                        width: 100px;
                        height: 100%;
                        background-repeat: no-repeat;
                        background-size: contain;
                        background-position: center;
                        border: none;
                        background-color: transparent;
                    }
                }
            }
            .information{
                padding: 20px;
                width: 600px;
                height: 100%;
                display: flex;
                flex-direction: column;
                background-color: #fff;
                .row-flex {
                    .style-input {
                        width: 50% !important;
                    }
                }
                .row-info {
                    display: flex;
                    flex-direction: row;
                    column-gap: 10px;
                   .title {
                    width: 150px;
                   }
                }
                .tag {
                    font-weight: 700;
                }
                .option {
                    border: 1px solid #afafaf;
                    padding: 5px;
                    border-radius: 6px;
                    cursor: pointer;
                    &.selected {
                        border: 3px solid rgba(26, 164, 200);
                        padding: 3px;
                    }
                }
                .quantity-order {
                    display: flex;
                    flex-direction: row !important;
                    align-items: center;
                    column-gap: 15px;
                }
                .btn-add-cart {
                    height: 35px;
                    background-color: rgba(26, 164, 200);
                    color: #fff;
                    border: none;
                    border-radius: 6px;
                    width: 250px;
                    margin: auto;
                }
                .deposit-amount {
                    font-size: 24px;
                    font-weight: 700;
                }
                
            }
        }
    .description {
        
        .row-input {
            height: 300px;
            padding-top: 12px;
            padding-bottom: 12px;
            &.disabled {
                background-color: transparent !important;
            }
        }
    }
}