.product-view{
    .title-header {
        font-weight: 700;
    }
        .form-center{
            display: flex;
            flex-direction: row;
            .img-upload{
                width: 50%;
                height: 100%;
                display: flex;
                flex-direction: column;
                .big-img{
                    height: 480px;
                    background-repeat: no-repeat;
                    background-size:contain;
                    background-position: center;
                    border-radius: 6px;
                    position: relative;
                    .btn-delete {
                        height: 30px;
                        width: 80px;
                        position: absolute;
                        bottom: 5px;
                        right: 5px;
                        background-repeat: no-repeat;
                        background-size:contain;
                        background-position: center;
                        background-color: transparent;
                        border: none;
                    }
                }
                .list-small-img {
                    margin-top: 8px;
                    height: 100px;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    column-gap: 20px;
                    row-gap: 10px;
                    overflow: auto;
                    &::-webkit-scrollbar-track
                    {
                        background-color: #F5F5F5;
                    }
                    &::-webkit-scrollbar {
                        width: 10px;
                        background-color: #F5F5F5;
                    }
                    &::-webkit-scrollbar-thumb
                    {
                        background-color: #cdd3d6;
                    }
                    .small-img {
                        width: 100px;
                        height: 100%;
                        background-repeat: no-repeat;
                        background-size: contain;
                        background-position: center;
                        border: none;
                        background-color: transparent;
                    }
                }
            }
            .information{
                padding-left: 8px;
                width: 50%;
                height: 100%;
                display: flex;
                flex-direction: column;
                row-gap: 4px;
                .row-flex {
                    .style-input {
                        width: 50% !important;
                    }
                }
                .description {
                    .row-input {
                        height: 200px;
                        .input-box {
                            padding-top: 12px;
                        }
                    }
                }
                .row-info {
                    margin-top: 10px;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    padding: 0px 20px;
                    .title {
                        width: 300px;
                        font-weight: 700;
                    }
                    .amount1 {
                        color: red;
                        font-weight: 600;
                    }
                    .amount2 {
                        color: blue;
                        font-weight: 700;
                    }
                    .product-code {
                        font-weight: 700;
                    }
                }
                .tag {
                    font-weight: 700;
                }
                .option {
                    border: 1px solid #afafaf;
                    padding: 5px;
                    border-radius: 6px;
                    &.selected {
                        background-color: #afafaf;
                    }
                }
                .action {
                    margin-top: 8px;
                    display: flex;
                    justify-content: center;
                    .btn-add-cart {
                        height: 30px;
                        background-color: rgba(26, 164, 200);
                        color: #fff;
                        border: none;
                        border-radius: 6px;
                    }
                }
            }
        }
    .description {
        width: 100%;
    }
    .title-header {
        font-size: 24px;
    }
}