.homepage {
    width: 1400px;
    margin: auto;
    .banner {
        display: flex;
        justify-content: center;
        background-color: #fff;
        padding: 20px;
        .img-banner {
            width: 100%;
        }
    }
    .group {
        display: flex;
        flex-direction: column;
        background-color: #fff;
        .title {
            text-align: center;
        }
        .list-item {
            display: flex;
            flex-wrap:wrap;
            height: auto;
            justify-content: center;
            column-gap: 15px;
        }
    }
}