.category-form{
    .form {
        width: 600px;
        .style-input {
            width:50% ;
        }
        .description {
                width: 100%;
                .row-input {
                    height: 160px;
                    .input-box {
                        padding-top: 12px;
                    }
                }
            }
    }
}