.stock-order-detail {
  .title {
    font-size: 18px;
    font-weight: 700;
  }
  .mid-view {
    justify-content: center;
  }
  .detail-list{ 
    background-color: #fff;
    padding: 20px;
    width: 600px;
    
    .box-search {
      position: relative;
      .list-option {
        background-color: #fff;
        margin-top: 2px;
        border: 1px solid #afafaf;
        border-radius: 6px;
        padding: 5px;
        row-gap: 8px;
        position: absolute;
        top: 50px;
        width: calc(100% - 16px);
      }
    }
    .order-detail-item{
      height: 100px;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 5px;
      border-radius: 6px;
      .product-img {
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
          height: 90px;
          width: 90px;
      }
    }
  }
  .total-order {
    background-color: #fff;
    padding: 20px;
    width: 600px;
    .date-row {
      display: flex;
      flex-direction: row;
      column-gap: 20px;
      .date-input {
        width: calc(50% - 10px);
      }
    }
    .amount-row{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    .user-name{
      width: 50%;
    }
    .phone {
      width: 50%;
    }
    .description {
      .row-input{
        height: 100px;
        font-size: 16px;
      }
    }
  }
}