.homepage {
    display: flex;
    flex-direction: column;
    .banner {
        display: flex;
        justify-content: center;
        .img-banner {
            width: 80%;
        }
    }
    .group {
        display: flex;
        flex-direction: column;
        .title {
            text-align: center;
        }
        .list-item {
            display: flex;
            flex-wrap:wrap;
            height: auto;
            justify-content: center;
            column-gap: 15px;
        }
    }
}